body {
    background-color: #FBF8EF;
    font-family: "Noto Sans", sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header > img {
    display: block;
    width: 17%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    padding: 16px;
    gap: 8px;
    text-align: center;
    list-style: none;
    background-color: #C9E6F0;
}

nav li {
    display: inline-block;
}

section {
    display: flex;
}

article {
    flex: 1;
}

.black-friday {
    background-image: url("Assets/hair-salon.jpg");
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}

footer img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}